.h2 {
	color: #333; 
	background: #fff;
}
.h5 {
	color: #333; 
	background: #fff;
}


.l_box {
	width: 30%;
	float: left;
	text-align: left;
	margin: auto;
	margin-top: 5%;
}

.l_box h2 {
	font-size: 18px; 
	line-height: 30px; 
	padding-left: 20px; 
}

.l_box h5 {
	padding: 40px 20px 25px 20px;
	line-height: 18px;	
}

.l_box li {
	margin-bottom: 20px;
	overflow: hidden;
	background: #dedede;
}

.r_box { 
	width: 68%; 
	float: right;
	margin-top: 5%;
}

.r_box li { 
	background: #dedede; 
	overflow: hidden; 
	color: #333; 
	margin-bottom: 20px;
}
.r_box li h2 { 
	padding: 15px; 
	font-size: 16px; 
	line-height: 25px; 
	text-shadow: #FFF 1px 1px 1px;
	background: #fff;
}
.r_box li a { 
	color: #222;
	float: right;
	padding-right: 45px;
	padding-top: 24px;
	padding-bot: 20px;
}
.r_box li a:hover {
	color: #000; 
	text-decoration: underline;
}
.r_box li img {
	padding: 15px; 
	width: 30%;
	height: 30%;
	float: left;
	padding-right: 30px;
}
.r_box li p 
{
	padding: 30px 30px 20px 30px;
	line-height: 24px;
}

.profile img {
	width: 100%;
	float: left; 
	clear: left; 
	border-radius: 50%;
	width: 80px;
	height: 80px;
	margin: 10%;
}
.profile h2 {
	font-size: 18px; 
	line-height: 40px; 
	padding-left: 20px; 
	background: #fff;
}

.profile h5 {
	font-size: 14px;
	padding-top: 35px;
}

#mascot {
	height: 100%;
	width: 100px;
}










